@charset "UTF-8";

//  Created on : Mar 22, 2016, 19:50:21 PM
//  Author     : GieMik8

/* -------------------------- Components ------------------------------------- */

.url-form {
    margin-top: 15vh;
    width: 100%;
    text-align: center;
}

.article {
    background-color: lighten($dark, 5%);
    margin-bottom: 50px;
    transition: $btn-trans;
    position: relative;

    &.selected {
        background-color: lighten($dark, 12%);
        box-shadow: 0 0 7px rgba($dark, .3);
        transition: $btn-trans;

        @include tablet-sm {
            &:after {
                left: 100%;
                top: 50%;
                content: " ";
                height: 0;
                width: 0;
                border: solid transparent;
                position: absolute;
                pointer-events: none;
            }

            &:after {
                border-color: transparent;
                border-left-color: lighten($dark, 12%);
                border-width: 20px;
                margin-top: -20px;
            }
        }
    }

    .a-header {
        padding: 20px;
        
        h3 {
            margin: 0;
            text-align: center;

            @include mobile-sm {
                font-size: 20px;
            }

            @include tablet-lg {
                text-align: left;
            }
        }
    }

    .a-footer {
        padding: 20px;
    }
    
    .published {
        text-align: center;

        @include tablet-lg {
            text-align: left;
        }

        p {
            line-height: 40px;
            color: $gray;
        }
    }

    .select-item {
        text-align: center;

        @include tablet-lg {
            text-align: right;
        }
    }
}

.sortation {
    list-style-type: none;
    margin: 60px 0 40px;
    padding: 0;
    text-align: center;
    font-size: 0;

    @include tablet-lg {
        text-align: left;
    }

    li {
        display: inline-block;
        margin: 0;
        padding: 0 10px;
        width: 150px;
        font-size: 14px;

        @include tablet-sm {
            border-right: solid 1px lighten($darkGray, 10%);
            
            &:last-of-type {
                border-right: none;
            }
        }


        @include mobile {
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: 15px;
        }

        @include tablet-lg {
            margin-right: 20px;
        }
    }

    a {
        border-bottom: solid 1px transparent;
        color: $light;
        text-decoration: none;
        padding: 5px 0;
        cursor: pointer;
        user-select: none;

        .glyphicon {
            visibility: hidden;
        }

        &.active {
            border-bottom: solid 1px $blue;
            color: $blue;

            .glyphicon {
                visibility: visible;
            }
        }
    }
}

.feed-review {
    .f-r-title {
        margin-bottom: 5px;
    }

    .f-r-description {
        margin: 15px 0 20px;
        word-break: break-word;
    }
}

.history-wrapper {
    margin-top: 70px;
    text-align: center;

    .h-l-title {
        font-weight: 200;
    }

    .h-l-list {
        padding: 0;
        list-style-type: none;
        font-weight: 200;
        font-size: 25px;
        word-break: break-all;
    }
}

.curtain {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($dark, .9);
    z-index: 100;
}

.modal-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.a-wrapper {
    @include center-vertically;
    display: block;
    width: 700px;
    max-width: 85%;
    height: 150px;
    text-align: center;
}

.a-title {
    color: $light;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 0;
    border-bottom: solid 1px $gray;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.a-content {
    color: darken($light, 10%);
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 15px;
}

.custom-modal {
    @include center-vertically;
    display: block;
    width: 700px;
    max-width: 90%;
    text-align: center;
    z-index: 102;
}

.modal-header {
    border-bottom: solid 1px $gray;
}

.modal-title {
    text-transform: uppercase;
}

.modal-footer {
    text-align: center;
    border-top: none;

    .btn {
        min-width: 100px;
    }
}