@charset "UTF-8";

//  Created on : Mar 22, 2016, 19:50:21 PM
//  Author     : GieMik8

/* -------------------------- Elements ------------------------------------- */

input,
.form-control {
    background-color: $darkGray;
    color: $light;
    border: none;

    .has-error & {
        background-color: rgba(lighten($red, 5%), .3);
    }
}

a {
    color: $blue;

    &:hover {
        color: darken($blue, 8%);
    }
}

#sloganLabel {
    text-transform: uppercase;
    font-size: 40px;
    margin: 0 0 20px;
    color: $light;
    line-height: 40px;

    @include mobile {
        font-size: 30px;
    }
}

.form-control,
.btn {
    padding: 8px 14px;
    font-size: 16px;
    border: solid 1px lighten($darkGray, 10%);
    transition: $btn-trans;

    &:hover {
        transition: $btn-trans;
    }
}

.btn {
    // border: none;
    background-color: transparent;
    color: $gray;
    
    &:focus {
        outline: none;
    }

    .glyphicon {
        margin-right: 8px;

        &.sngl{
            margin: 0;
        }
    }
}

.btn-sm {
    font-size: 14px;
    padding: 5px 10px;
}

.btn-primary {

    &:hover {
        background-color: darken($blue, 8%);
        border-color: darken($blue, 8%);

        .glyphicon {
            color: $F;
        }
    }

    &.active,
     &:active,
      &:focus {
        background-color: $blue;
        border-color: $blue;

        .glyphicon {
            color: $F;
        }
    }

    .glyphicon {
        color: $blue;
    }
}

.btn-danger {

    &:hover {
        background-color: darken($red, 8%);
        border-color: darken($red, 8%);

        .glyphicon {
            color: $F;
        }
    }

    &.active,
     &:active,
      &:focus {
        background-color: $red;
        border-color: $red;

        .glyphicon {
            color: $F;
        }
    }

    .glyphicon {
        color: $red;
    }
}

.btn-success {

    &:hover {
        background-color: darken($green, 8%);
        border-color: darken($green, 8%);

        .glyphicon {
            color: $F;
        }
    }

    &.active,
     &:active,
      &:focus {
        background-color: $green;
        border-color: $green;

        .glyphicon {
            color: $F;
        }
    }

    .glyphicon {
        color: $green;
    }
}

.btn-default {
    color: $gray;

    &:hover {
        background-color: darken($gray, 8%);
        border-color: darken($gray, 8%);
        color: $F;

        .glyphicon {
            color: $F;
        }
    }

    &.active,
     &:active,
      &:focus {
        background-color: $gray;
        border-color: $gray;
        color: $F;

        .glyphicon {
            color: $F;
        }
    }

    .glyphicon {
        color: $gray;
    }
}

.form-control {
    height: auto;
}

.help-block {
    font-weight: 400;
}

.page-title {
    border-bottom: solid 1px $gray;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;

    @include mobile {
        font-size: 20px;
    }

    @include tablet-lg {
        display: inline-block;
        text-align: left;
        
    }
}

.page-subtitle {
    color: $gray;
    margin-bottom: 30px;
    margin-top: 0;
    text-align: center;

    @include tablet-lg {
        text-align: left;
    }
}

#closeSelected {
    background-color: transparent;
    border: none;
    color: $light;
    font-size: 20px;
}

.btn.disabled,
 .btn[disabled],
  fieldset[disabled] .btn {
    pointer-events: none;
}

#historyButton {
    @include clearfix;
}

#last-feed-notify {
    text-align: center;
    display: block;
    word-break: break-all;

    a {
        font-style: normal;
    }
}

#goBack {
    @include mobile-sm {
        margin-bottom: 10px;
    }
}

#clearHistory {
    float: right;

    @include mobile-sm {
        float: none;
    }
}