@charset "UTF-8";

//  Created on : Mar 27, 2016, 22:47:16 PM
//  Author     : GieMik8

/* -------------------------- Components ------------------------------------- */

html, body {
    height: 100%;
    @include clearfix;
}

body {
    background-color: $dark;
    color: $light;
}

.main-window, 
.sidebar {
    padding: 15px;

    @include mobile-lg {
        padding: 20px;
    }

    @include tablet-sm {
        padding: 40px;
    }
}

.main-window {
    width: 100%;
    display: block;
    min-height: 100%;
    transition: all $trans ease;
    padding-top: 150px;   
    padding-bottom: 150px;
    @include clearfix;

    .sidebar-open & {
        transition: all $trans ease;
        width: 100%;

        @include tablet-sm {
            width: 66%;
        }
    }

    & > .container {
        width: 800px;
        max-width: 100%;
        min-height: 100%;
    }
}

.sidebar {
    display: block;
    position: fixed;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    height: auto;
    width: auto;
    position: fixed;
    transform: translate(0, 33%);
    transition: all $trans ease;
    background-color: lighten($dark, 12%);
    z-index: 3;
    overflow-y: auto;
    overflow-x: hidden;

    @include tablet-sm {
        right: 0;
        width: 34%;
        left: auto;
        bottom: auto;
        top: 0;
        height: 100%;
    }

    .sidebar-open & {
        transform: translate(0, 0);
    }
}

.container {
    max-width: 100%;
}

.wrapper {
    height: 100%;
}

.search-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: lighten($dark, 8%);
    padding: 30px;
    box-shadow: 0 0 20px rgba($dark, .9);
    z-index: 1;

    @include mobile-sm {
        text-align: center;

        .btn {
            margin: auto;
            display: block;
        }
    }

    .sidebar-open & {
        transition: all $trans ease;
        
        @include tablet-sm {
            width: 66%;
        }
    }
}