@charset "UTF-8";

//  Created on : Mar 22, 2016, 19:50:21 PM
//  Author     : GieMik8

// -------------------------------- Mixins -------------------------------------

@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
//  @include clearfix;

@mixin border-top-radius($radius) {
    border-top-right-radius: $radius;
    border-top-left-radius: $radius;
    background-clip: padding-box;
}
//  @include border-top-radius(5px)

@mixin border-right-radius($radius) {
    border-bottom-right-radius: $radius;
    border-top-right-radius: $radius;
    background-clip: padding-box;
}
//  @include border-right-radius(5px)

@mixin border-bottom-radius($radius) {
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
    background-clip: padding-box;
}
//  @include border-bottom-radius(5px)

@mixin border-left-radius($radius) {
    border-bottom-left-radius: $radius;
    border-top-left-radius: $radius;
    background-clip: padding-box;
}
//  @include border-left-radius(5px)

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
}
//  @include center-block;

@mixin center-vertically {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}
//  @include center-vertically;

@mixin ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
//  @include ellipsis;