@charset "UTF-8";

//  Created on : Mar 22, 2016, 19:50:21 PM
//  Author     : GieMik8

/* ----------------------------- Typography --------------------------------- */

html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: $light;
}

p, i {
    font-family: 'Hind', sans-serif;
    color: $light;
}

a {
    color: $blue;
}