@charset "UTF-8";

//  Created on : Mar 22, 2016, 19:50:21 PM
//  Author     : GieMik8

// --------------------------- Color Variables ---------------------------------

$F : #FFF;

$B : #000;

$light : #DBE9EE;

$dark : #191923;

$darkGray : #303140;

$gray : #8D99AE;

$red : #FE6847;

$blue : #40bad6;

$green : #2BA84A;

// ------------------------- Transition variables ------------------------------

$trans : .3s;

$btn-trans : all $trans ease;

$anim : .6s;

