<template>
  <div id="app">
    <transition name="fade" mode="out-in">
      <gm-alert></gm-alert>
    </transition>
    <gm-home></gm-home>
  </div>
</template>

<script>
import Home from './Home.vue';
import Alert from './widgets/Alert.vue';

export default {
  name: 'app',
  data () {
    return {
      
    }
  },
  components: {
    'gm-home': Home,
    'gm-alert': Alert,
  }
}
</script>

<style lang="scss">
  #app {
    height: 100%;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity 1s;
  }

  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
</style>
