<template>
  <div class="feeds">
    <h1 class="page-title">{{ feed.feed.title }}</h1>
    <h4 class="page-subtitle"><a :href="feed.feed.link" target="_blank">{{ feed.feed.link }}</a></h4>

    <ul class="sortation">
      <li>
        <a @click="sortByName" :class="{'active' : sortedByName}">
          <span :class="[sortedByName === 'asc' ? 'glyphicon-sort-by-alphabet' : 'glyphicon-sort-by-alphabet-alt']" class="glyphicon"></span>
          Sort by Name
        </a>
      </li>
      <li>
        <a @click="sortByDate" :class="{'active' : sortedByDate}">
          <span :class="[sortedByDate === 'asc' ? 'glyphicon-sort-by-attributes' : 'glyphicon-sort-by-attributes-alt']" class="glyphicon"></span>
          Sort by Date
        </a>
      </li>
    </ul>

    <div :class="{'selected' : selectedFeed === article }" class="article" v-for="(article, index) in feed.items">
      <div class="a-header">
        <h3>{{ article.title }}</h3>
      </div>
      <div class="a-footer">
        <div class="row">
          <div class="col-xs-12 col-md-6 published">
            <p>Published {{ publishedBefore(article.pubDate) }}</p>
          </div>
          <div class="col-xs-12 col-md-6 select-item">
            <button :disabled="selectedFeed === article" class="btn btn-success" @click="changeSelectedFeed(article)"><span class="glyphicon glyphicon-eye-open"></span>Read more..</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import moment from 'moment';

  export default {
      props: {
          feed: {
              type: Object,
              required: true
          }
      },
    data() {
      return {
        selectedFeed: false,
        sortedByDate: 'desc',
        sortedByName: false
      }
    },
    methods: {
      publishedBefore(value) {
        let published = moment(value).fromNow();
        return published;
      },
      changeSelectedFeed(article) {
        this.$emit('changeSelectedFeed', article);
        this.selectedFeed = article;
      },
      sortByName() {
        let order = this.sortedByName;
          this.feed.items.sort((a,b) => {
            if (a.title.replace(/[&\/\\#,+()$~%.'":*?<>{}]/g, '') < b.title.replace(/[&\/\\#,+()$~%.'":*?<>{}]/g, '')) {
              if (!order || order === 'asc') {
                return -1;
              } else {
                return 1;
              }
            }
            if (a.title.replace(/[&\/\\#,+()$~%.'":*?<>{}]/g, '') > b.title.replace(/[&\/\\#,+()$~%.'":*?<>{}]/g, '')) {
              if (!order || order === 'asc') {
                return 1;
              } else {
                return -1;
              }
            }
            return 0;
          });

          if (!order || order === 'asc') {
            this.sortedByName = 'desc';
          } else {
            this.sortedByName = 'asc';
          }
          this.sortedByDate = false;
      },
      sortByDate() {
        let order = this.sortedByDate;
          this.feed.items.sort((a,b) => {
            if (moment(a.pubDate).isAfter(moment(b.pubDate))) {
              if (!order || order === 'asc') {
                return -1;
              } else {
                return 1;
              }
            }
            if (moment(b.pubDate).isAfter(moment(a.pubDate))) {
              if (!order || order === 'asc') {
                return 1;
              } else {
                return -1;
              }
            }
            return 0;
          });

          if (!order || order === 'asc') {
            this.sortedByDate = 'desc';
          } else {
            this.sortedByDate = 'asc';
          }
          this.sortedByName = false;
      }
    }
  }
</script>