<template>
  <div class="feed-review">
    <h3 class="f-r-title">{{ selected.title }}</h3>
    <i class="f-r-pubdate">{{ publishedBefore }}</i>
    <p class="f-r-description">{{ description }}</p>
    <a class="btn btn-success active" :href="selected.link" target="_blank"><span class="glyphicon glyphicon-new-window"></span>Go to page</a>
  </div>
</template>

<script>
  import moment from 'moment';

  export default {
      props: {
          selected: Object
      },
    data() {
      return {
        
      }
    },
    computed: {
      publishedBefore() {
        let $this = moment(this.selected.pubDate).add(3, 'h');
        let date = moment($this).format('MMMM Do, H:mm');
        let before = moment($this).fromNow();
        return date+' ('+before+')';
      },
      description() {
        let temp = document.createElement('DIV');
        temp.innerHTML = this.selected.description;
        return temp.textContent || temp.innerText || '';
      }
    },
  }
</script>