<template>
  <div class="history-wrapper">
    <button @click="historyOpen = !historyOpen" class="btn-default btn btn-sm" id="historyButton" >
      <span :class="[!historyOpen ? 'glyphicon-chevron-down' : 'glyphicon-chevron-up']" class="glyphicon"></span>
      History
    </button>
    <transition name="fade" mode="out-in">
      <div v-if="historyOpen">
        <h3 class="h-l-title">{{ history.length > 0 ? 'Feed urls you have entered before:' : 'No feed urls, yet..' }} </h3>
        <ul class="h-l-list">
          <li v-for="hist in history"><a href="#" @click="goToFeed(hist)">{{ hist }}</a></li>
        </ul>
      </div>
    </transition>
  </div>
</template>

<script>

  export default {
      props: {
          history: Array
      },
    data() {
      return {
        historyOpen: false
      }
    },
    methods: {
        goToFeed(feedUrl) {
            this.$emit('getFeed', feedUrl);
        }
    }
  }
</script>

<style lang="scss">
    
</style>
