<template>
  <div class="wrapper" v-bind:class="{'sidebar-open': selectedFeed}">
    <div class="main-window">

        <transition name="fade">
            <gm-modal @closeModal="modalOpen = false" @confirm="clearHistory()" v-if="modalOpen"></gm-modal>
        </transition>

        <transition  name="fade" mode="out-in">
            <div class="search-header">
                <button id="goBack" class="btn btn-primary" v-if="recentFeed" @click="refresh"><span class="glyphicon glyphicon-chevron-left"></span>Go Back</button>
                <button id="clearHistory" v-if="urlHistory.length > 0" @click="modalOpen = true" class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span>Clear History</button>
            </div>
        </transition>

        <div class="container">
            <transition name="fade" mode="out-in">
                <div class="form-container" v-if="!recentFeed">

                    <form class="url-form"  @submit.prevent="submit">
                        <div class="form-group required" :class="{'has-error' : errors.has('feedUrl')}">
                        <label id="sloganLabel" class="control-label">Let us know your Feed URL</label>
                        <div class="">
                            <div class="input-group">
                                <input id="feedUrlInput" name="feedUrl" v-model="feedUrl" v-validate:feedUrl.initial="'required|url'" class="form-control" type="text" placeholder="Feed Url">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary active" type="submit"><span class="sngl glyphicon glyphicon-ok"></span></button>
                                </span>
                            </div>
                            <span v-show="errors.has('feedUrl')" class="help-block"><i class="fa fa-warning"></i> {{ errors.first('feedUrl') }}</span>
                        </div>
                        </div>
                    </form>
                    <i id="last-feed-notify" v-if="urlHistory.length > 0">Last feed you entered: <a href="#" @click="getFeed(urlHistory[0]);">{{ urlHistory[0] }}</a></i>

                    <gm-history @getFeed="getFeed($event)" :history="urlHistory"></gm-history>
                    
                </div>
                <gm-feeds v-if="recentFeed" @changeSelectedFeed="selectedFeed = $event" :feed="recentFeed"></gm-feeds>
            </transition>   

        </div>
    </div>
  
    <transition name="fade" mode="out-in">
        <div v-if="selectedFeed" class="sidebar">
            <button id="closeSelected" @click="selectedFeed = false"><span class="glyphicon glyphicon-remove"></span></button>
            <gm-feed :selected="selectedFeed"></gm-feed>
        </div>
    </transition>
    
  </div>
</template>

<script>
    import Feed from './Feed.vue';
    import Feeds from './Feeds.vue';
    import History from './History.vue';
    import { alertEvents } from './main.js';
    import Modal from './widgets/Modal.vue';

  export default {
        data() {
            return {
                feedUrl: '',
                recentFeed: false,
                urlHistory: [],
                storageName: 'history',
                selectedFeed: false,
                modalOpen: false
            }
        },
    components: {
        'gm-feed': Feed,
        'gm-feeds': Feeds,
        'gm-history' : History,
        'gm-modal' : Modal
    },
    created() {
        this.updateHistory();
    },
    methods: {
        submit() {
            this.$validator.validateAll().then((result) => {
                this.$http.get(`https://api.rss2json.com/v1/api.json?rss_url=${this.feedUrl}&api_key=5vzjp7nnjb0wwxyt15wkwepo2qe7xlv1h8ggnomi&order_by=pubDate&count=30`)
                .then(response => {
                    if (response.body.status === 'error') {
                        alertEvents.$emit('callAlert', response.body.status, response.body.message, 5000);
                    } else {
                        this.$storage.add(this.storageName, this.feedUrl);
                        this.updateHistory();
                        this.recentFeed = response.body;
                    }
                });
            }).catch(() => {
                alertEvents.$emit('callAlert', 'Somethings wrong', 'Make sure you entered feed url correctly');
            });
        },
        getFeed(feedUrl) {
            this.$http.get(`https://api.rss2json.com/v1/api.json?rss_url=${feedUrl}&api_key=5vzjp7nnjb0wwxyt15wkwepo2qe7xlv1h8ggnomi&order_by=pubDate&count=30`)
                .then(response => {
                    if (response.body.status === 'error') {
                        alertEvents.$emit('callAlert', 'Sorry', 'tekstas');
                    } else {
                        this.$storage.add(this.storageName, feedUrl);
                        this.updateHistory();
                        this.recentFeed = response.body;
                    }
                });
        },
        clearHistory() {
            this.$storage.clearHistory(this.storageName);
            this.urlHistory = [];
        },
        updateHistory() {
            this.urlHistory = this.$storage.getHistory(this.storageName);
        },
        refresh() {
            this.feedUrl = '';
            this.recentFeed = false;
            this.selectedFeed = false
        }
    }
  }
</script>

<style lang="scss">

    .fade-enter-active, .fade-leave-active {
        transition: all .3s ease;
        transform: translate(0, 0);
    }

    .fade-enter, .fade-leave {
        transition: all .3s ease;
        opacity: 0;
        transform: translate(0, 0);
    }

    .fade-to-top-enter-active, .fade-to-top-leave-active {
        transition: all .3s ease;
        transform: translate(0, 0);
    }

    .fade-to-top-enter, .fade-to-top-leave {
        opacity: 0;
        transform: translate(0, 200px);
    }

</style>
