<template>
  <div v-if="active" class="curtain">
    <div class="a-wrapper">
        <h2 class="a-title">{{ title }}</h2>
        <h3 class="a-content">{{ content }}</h3>
        <a href="#" class="btn btn-default btn-sm" @click="closeAlert">Dismiss..</a>
    </div>
  </div>
</template>
<script>
  import { alertEvents } from '../main.js';

  export default {
    data() {
      return {
        active: false,
        title: '',
        content: '',
        duration: ''
      }
    },
    methods: {
      closeAlert() {
        this.active = false;
        this.title = '';
        this.content = '';
        this.duration = 0;
      },
      showAlert(title = '', content = '', duration = 3000) {
        this.active = true;
        this.title = title;
        this.content = content;

        setTimeout((duration) => {
          this.active = false;
          this.title = '';
          this.content = '';
        }, duration);
      }
    },
    created() {
      alertEvents.$on('callAlert', this.showAlert);
    }
  }
</script>