<template>

        <div @click="closeModal" class="curtain">
            <div class="custom-modal">
                <div class="modal-header">
                    <h3 class="modal-title">Are you sure you want to clear the history?</h3>
                </div>
                <div class="modal-footer">
                    <button @click="closeModal" class="btn btn-default">No</button>
                    <button @click="confirm" class="btn btn-danger active">Yes</button>
                </div>
            </div>
        </div>

</template>
<script>
  export default {
    methods: {
      closeModal() {
        this.$emit('closeModal');
      },
      confirm() {
        this.$emit('confirm');
      }
    }
  }
</script>
